@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&family=Inter:wght@500&family=Teko:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&family=Inter:wght@700&family=Teko:wght@300;700&display=swap");

*{
  margin:0;
  padding:0;
}

body {
  background-color: #ffcd9e;
}

h1 {
  font-family: "Dancing Script", cursive;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 52px;
  margin:10px;
}

pre {
  font-family: "Dancing Script", cursive;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color:#484848;
  line-height: 32px;
  margin: 10px;
}

#p1 {
  font-family: Inter;
  font-weight: 800;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
  margin:10px;
  padding-bottom:1.5%;
  font-size: 15px;
}

form {
  display: inline-block;
  border-radius: 5px;
  margin:10px;
  font-size: 20px;
  height:100%;
  outline: 0px;
  border:0;
}

#btn1 {
  background-color: black;
  color: aliceblue;
  display: inline-block;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  margin: 2px;
  padding:14px 40px 14px 40px;
}

footer {
  background-color: #282828;
  color: aliceblue;
}

#footer1{
  padding:5% 14% 5% 14%;
}

.foot {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}

.foot2 {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: right;
}

#bottom1 {
  display: inline-block;
}

#bottom2 {
  display: inline-block;
  float: right;
}

#free {
  font-family: Inter;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  margin: 12px 40px 15px 42px;
  font-size: 15px;
}

#div1 {
  padding: 0% 0% 0% 10%;
  display: inline-block; 
}

#image {
  display: inline-block;
  margin-top: 25px;
  margin-left: 150px;
  padding: 5% 89.61px 0% 91.87px;
  position: relative;
}

ul {
  list-style: none;
}

#content{
  height:568px;
  justify-content: space-around;
}

input{
  border:3.5px solid black;
  background-color: white;
  color: #888;
  border-radius: 5px;
  font-size: 16px;
  padding:13px 0px 13px 15px;
}

#head1{
  padding-bottom: 1.75%;
}

#head2{
  padding-bottom: 0.5%;
}

#lastlist{
  padding-top: 11.5%;
}