@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&family=Inter:wght@500&family=Teko:wght@300;700&display=swap");
*{
  margin:0;
  padding:0;
}
body {
  background-color: #ffcd9e;
  /* background-image: url(dweep\ io\ 1.png);
    background-size: 450px;
    background-repeat: no-repeat;
    background-position: fixed; */
  /* height:100vh; */
  /* background-position: 800px 27px;
    background-attachment: fixed; */
  /* background-size: contain; */
}
h1 {
  font-family: "Dancing Script", cursive;
  font-family: "Inter", sans-serif;
  /* font-family: 'Teko', sans-serif; */
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
}
pre {
  font-family: "Dancing Script", cursive;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
}
p {
  font-family: Inter;
  font-size: 20px;
  font-weight: 800;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}
form {
  display: inline-block;
  border-radius: 5px;
  border-width: 100px;
}
button {
  background-color: black;
  color: aliceblue;
  display: inline-block;
  border-radius: 3px;
  size: 20px;
}
footer {
  /* width: 1460px; 
    height:298px; */
  background-color: #282828;
  color: aliceblue;
  width: 100vw;
  
  /* position:fixed; */
  
  /* top: 592px; */
}
.foot {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}
.foot2 {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: right;
}
#bottom1 {
  display: inline-block;
}
#bottom2 {
  display: inline-block;
  min-width: 1090px;
  /* padding-right: 50px; */
}
#free {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}
#div1 {
  padding: 50px 0% 20px 10%;

  /* padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 20px; */
  display: inline-block;
}
#image {
  /* width:"300px" ;
  height:"442.45px" ; */
  /* width:"30%" ;
  height:"45%" ; */
  display: inline-block;
  /* display: inline-flex; */
  /* height: 575px; */
  padding: 0% 89.61px 0% 91.87px;
  flex-shrink: 0;
  position: relative;
  bottom: 20px;
}
ul {
  list-style: none;
}
#content{
  height:582px;
}